@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

body {
  background: white;
}

hr {
  margin-right: 3%;
  margin-left: 3%;
}

.wrapper{
  background: linear-gradient(#009D7E, #59C5B3);
  position: fixed;
  width: 100%;
  border-top: 3px solid #D00000;
  border-bottom: 2px solid #D00000;
  opacity: 0.9;
  z-index: 1;
}

.tt-icon {
  height: 55px;
  width: 55px;
  margin-right: 40px;
  margin-left: -40px;
}

.qr-icon {
  height: 55px;
  width: 55px;
  margin-top: 7px;
  margin-right: 10px;
  margin-left: 30px;
  border: 1px solid black;
}

.wrapper nav{
  position: relative;
  display: flex;
  max-width: calc(100% - 200px);
  margin: 0 auto;
  height: 70px;
  align-items: center;
  justify-content: space-between;
}

nav .content{
  display: flex;
  align-items: center;
}

nav .content .links{
  margin-left: 100px;
  display: flex;
}

.content .logo a{
  color: #fff;
  -webkit-text-stroke: 1.5px black;
  font-size: 30px;
  font-weight: 600;
}

.content .links li{
  list-style: none;
  line-height: 70px;
  margin-left: 20px;
}

.content .links li a,
.content .links li label{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 12px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.content .links li label{
  display: none;
}
.content .links li a:hover,
.content .links li label:hover{
  background: #323c4e;
}

.content .links li.active{
  text-decoration: 4px underline;
  text-decoration-color:  #D00000;
}

.wrapper .menu-icon{
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  line-height: 70px;
  width: 70px;
  text-align: center;
}
.wrapper .menu-icon{
  display: none;
}


.wrapper input[type="checkbox"]{
  display: none;
}

/* Dropdown Menu code start */
.content .links ul{
  position: absolute;
  background: #D00000;
  top: 80px;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}
.content .links li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}
.content .links ul li a{
  display: block;
  width: 100%;
  line-height: 30px;
  border-radius: 0px!important;
}

.content .links ul ul{
  position: absolute;
  top: 0;
  right: calc(-100% + 8px);
}

.content .links ul li{
  position: relative;
}

.content .links ul li:hover ul{
  top: 0;
}


/*****[ADDING MEDIA QUERIES TO THE NAVIGATION BAR FOR RESPONSIVENESS]*****************************************************************/

@media screen and (max-width: 1250px){
  .wrapper nav{
    max-width: 100%;
    padding: 0 20px;
  }
  nav .content .links{
    margin-left: 30px;
  }
  .content .links li a{
    padding: 8px 13px;
  }
  .wrapper .search-box{
    max-width: calc(100% - 100px);
  }
  .wrapper .search-box input{
    padding: 0 100px 0 15px;
  }
}

@media screen and (max-width: 900px){
  .wrapper .menu-icon{
    display: block;
  }
  .wrapper #show-menu:checked ~ .menu-icon i::before{
    content: "\f00d";
  }
  nav .content .links{
    display: block;
    position: fixed;
    background: #D00000;
    height: 100%;
    width: 100%;
    top: 70px;
    left: -100%;
    margin-left: 0;
    max-width: 350px;
    overflow-y: auto;
    padding-bottom: 100px;
    transition: all 0.3s ease;
  }
  nav #show-menu:checked ~ .content .links{
    left: 0%;
  }
  .content .links li{
    margin: 15px 20px;
  }
  .content .links li a,
  .content .links li label{
    line-height: 40px;
    font-size: 20px;
    display: block;
    padding: 8px 18px;
    cursor: pointer;
  }
  .content .links li a.desktop-link{
    display: none;
  }

  /* dropdown responsive code start */
  .content .links ul,
  .content .links ul ul{
    position: static;
    opacity: 1;
    visibility: visible;
    background: none;
    max-height: 0px;
    overflow: hidden;
  }
  .content .links #show-features:checked ~ ul,
  .content .links #show-services:checked ~ ul,
  .content .links #show-items:checked ~ ul{
    max-height: 100vh;
  }
  .content .links ul li{
    margin: 7px 20px;
  }
  .content .links ul li a{
    font-size: 18px;
    line-height: 30px;
    border-radius: 5px!important;
  }
}

@media screen and (max-width: 400px){
  .wrapper nav{
    padding: 0 10px;
  }
  .content .logo a{
    font-size: 27px;
  }
}

/*************************************************************************************************************************************************/

.home-wrapper {
  background-color: rgb(255, 255, 255);
  height: 580px;
  width: 100%;
}

.title-text {
  position: absolute;
  top: 50%;
  left: 52%;
  width: 100%;
  padding: 0 20px ;
  transform: translate(-50%, -50%);
}

.title-text h1{
  font-size: 100px;
  background-image: url(../images/flag.png);
  background-repeat: repeat;
  -webkit-text-stroke: 2px black;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-font-smoothing: antialiased;
  opacity: 0.98;
}

.title-text h2{
  font-size: 60px;
  color: #13b393;
  -webkit-text-stroke: 2px #D00000;
}

.column-1 {
  width: 370px;
  float: left;
  padding: 2%;
  align-content: center;
}

.column-2 {
  width: 370px;
  float: right;
  align-content: center;
}


.home-wrapper::after {
  content: "";
  clear: both;
  display: table;
}

#home-img1 {
  float: right;
  width: 500px;
  height: 490px;
  margin-top: 80px;
  margin-right: 20px;
}

/***************************************************************************************************************************************/

.home-wrapper2 {
  height: 200px;
  background-image: url("https://static.vecteezy.com/system/resources/thumbnails/001/968/633/small/abstract-seamless-white-and-grey-square-3d-pattern-background-modern-geometric-texture-design-illustration-vector.jpg");
}

.precaution-text h2{
  font-size: 50px;
  color: #009D7E;
  -webkit-text-stroke: 2px #D00000;
}

.precaution-text p{
  font-size: 20px;
  color: black;
}

.column-11 {
  width: 370px;
  float: left;
  align-content: center;
}

.column-22 {
  width: 47%;
  height: 350px;
  float: right;
  margin-right: 15px;
}

.precaution-text {
  width: 100%;
  /*transform: translate(-50%, -50%);*/
  margin-top: 10px;
  padding-right: 23px;
}

.home-wrapper2::after {
  content: "";
  clear: both;
  display: table;
}

#home-img2 {
  float: left;
  width: 690px;
  height: 480px;
  margin-right: 60px;
  margin-bottom: -50px;
  z-index: 1;
}


/*****[SCROLL TO TOP BUTTON]******************************************************************************************************/

.scroll {
  color: #fff;
  margin-top: 100px
}

#toTopBtn {
  position: fixed;
  bottom: 45px;
  right: 39px;
  z-index: 98;
  padding: 21px;
  background-color: #D00000;
}

.js .cd-top--fade-out {
  opacity: .5
}

.js .cd-top--is-visible {
  visibility: visible;
  opacity: 1
}

.js .cd-top {
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s, visibility .3s, background-color .3s
}

.cd-top {
  position: fixed;
  bottom: 20px;
  bottom: var(--cd-back-to-top-margin);
  right: 20px;
  right: var(--cd-back-to-top-margin);
  display: inline-block;
  height: 40px;
  height: var(--cd-back-to-top-size);
  width: 40px;
  width: var(--cd-back-to-top-size);
  box-shadow: 0 0 10px rgba(0, 0, 0, .05) !important;
  background: url(https://res.cloudinary.com/dxfq3iotg/image/upload/v1571057658/cd-top-arrow.svg) no-repeat center 50%;
  background-color: #D00000;
  background-color: hsla(var(--cd-color-3-h), var(--cd-color-3-s), var(--cd-color-3-l), 0.8)
}

.height {
  height: 1000px
}



/*****[WHAT IS COVID-19?]***************************************************************************************************************/

.defn-wrapper {
  border-top: 2px solid #D00000;
  border-bottom: 2px solid #D00000;
  width: 100%;
  height: 400px;
  margin: auto;
  background: #59C5B3;
}

.defn-wrapper h2 {
  font-size: 50px;
  text-align: center;
  color: #009D7E;
  -webkit-text-stroke: 2px #D00000;
  margin-top: 10px;
}

.defn-wrapper p {
  font-size: 20px;
  color: black;
  text-align: center;
  /* margin-left: 10%; */
}

.defn-wrapper::after {
  content: "";
  clear: both;
  display: table;
}

.covid-defn {
  width: 90%;
  height: 600px;
  margin:auto;
  text-align: center;
}



/*****[GET VACCINATED SECTION]*******************************************************************************************************************************/

.get-vax-wrapper {
  height: 480px;
  background-image: url("https://static.vecteezy.com/system/resources/thumbnails/001/968/633/small/abstract-seamless-white-and-grey-square-3d-pattern-background-modern-geometric-texture-design-illustration-vector.jpg");
}

.precaution-text h2{
  font-size: 50px;
  color: #009D7E;
  -webkit-text-stroke: 2px #D00000;
  margin-top: 20px;
}

.precaution-text p{
  font-size: 20px;
  color: black;
}

.column-1111 p{
  font-size: 20px;
  color: black;
}

.column-1111 {
  width: 40%;
  float: left;
  align-content: center;
}

.column-2222 {
  width: 55%;
  height: 350px;
  float: right;
  margin-right: 10px;
}

.precaution-text {
  width: 100%;
  margin-top: 10px;
  padding-right: 23px;
}

.get-vax-wrapper:after {
  content: "";
  clear: both;
  display: table;
}

#vax-form {
  float: left;
  width: 380px;
  height: 440px;
  margin-top: 20px;
  margin-left: 70px;
  margin-right: 80px;
}

#download1 {
  color: blue;
  display: inline;
}

#download1:hover {
  cursor: pointer;
}

#download2 {
  color: blue;
}

#download2:hover {
  cursor: pointer;
}


/*****[FOOTER SECTION]*******************************************************************************************************************************/


.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 50px;
  color: #fff;
  border-top: 2px solid #D00000;
  background: linear-gradient(#59C5B3, #009D7E);
  opacity: 0.95
  }
  
.footer > * {
  flex:  1 100%;
  }
  

.footer h2 {
  font-weight: 600;
  font-size: 20px;
  }

/* .logo {
  height: 50px;
  width: 50px;
} */

.footer ul {
  list-style: none;
  padding-left: 0;
  }
  
.footer li {
  line-height: 2em;
  }
  
.footer a {
  text-decoration: none;
  }
  
.r-footer {
  display: flex;
  flex-flow: row wrap;
  column-gap: 1em;
  }
  
.r-footer > * {
  flex: 1 50%;
  margin-right: 3em;
  }
  
.box a {
  color: rgb(255, 255, 255);
  }
  
  .h-box {
  column-count: 2;
  column-gap: 1.25em;
  border: 1px solid black;
  }
  
.b-footer {
  text-align: center;
  color: rgb(255, 255, 255);
  padding-top: 10px;
  }

.l-footer {
  margin-right: 3em;
  margin-bottom: 2em;
  margin-top: -20px;
}
  
.l-footer h1 {
  margin-left: 150px;
  margin-bottom: 10px;
}

.l-footer p {
  padding-right: 20%;
  color: rgb(255, 255, 255);
  text-align: justify;
  }   
  
  @media screen and (min-width: 600px) {
  .r-footer > * {
  flex: 1;
  }
  
  .features {
  flex-grow: 2;
  }
  
  .l-footer {
  flex: 1 0px;
  }
  
  .r-footer {
  flex: 2 0px;
  }
  }



/*****[SEPARATOR]*********************************************************************************************************************************************/

.separator {
  border-top: 2px solid #D00000;
  border-bottom: 2px solid #D00000;
  width: 100%;
  height: 280px;
  margin: auto;
  margin-top: 0px;
  background: #59C5B3;
  display: flex;
}


.separator .item {
  flex-grow: 1;
  height: 80px;
  background-color: blue;
  margin: 100px;
 
}

.item + .item {
  margin-left: 2%;
}






